*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}

body{
    background-color:#00067A;
    background-image:url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Frajatbhageria%2Ffiles%2F2017%2F09%2Fcode-copy-1200x1200.jpg);
    background-position:center;
    background-size:cover;
    background-blend-mode:soft-light;
}

.heading{
    width:600px;
    height:300px;
    margin:auto;
    position:absolute;
    top:0px; bottom:0px; right:0px; left:0px;
}
.title1{
    display: block;
    text-align: center;
    color:white;
    font-size:60pt;
    font-family:big john;
    src: url("https://the-neutron-foundation.github.io/big_john.otf") format("opentype");
}
.title2{
    display:block;
    margin-top:15px;
    text-align: center;
    color:white;
    font-size:14pt;
    font-family:serif;
}

.register{
    margin: 50px auto;
    display:block;
    width:180px;
    height:50px;
    border:3px solid white;
    background-color:rgba(255,255,255,0);
    color:white;
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
    
    transition: background-color 1000ms, color 1000ms;
}
.register:hover{
    background-color:rgba(255,255,255,1);
    color:#222;
    cursor:pointer;
    
    transition: background-color 1000ms, color 1000ms;
}
